<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
   <!--  parameters on a suite level  -->
  <parameter name="URL" value="google.com"/>
  <test thread-count="5" name="Personal Loan">
    <classes>
      <class name="test.day1">
      	<methods>
      		<include name="Demo"/>
      	</methods>
      	</class>
      <class name="test.day2"/>
      <class name="test.day4"/>
    </classes>
  </test>
    
  <test name = "Car Loan">
    <classes>
    	<class name ="test.day3">
    	<methods>
    		<exclude name="API.*"/>
    	</methods>
    	</class>
    </classes>
  </test>
  
   <test name = "Home Loan">
      <!--  parameters on a project level  -->
  	  <parameter name="URL" value="homeLoans.com"/>
    <classes>
    	<class name ="test.day4"/>
    </classes>
  </test>
  
  
</suite> 
